*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  min-height: 100vh;
  background: #fcfcfc;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background: hsl(0deg, 0%, 99%);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 11%;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: black;
}
.header__nav-item a {
  color: black;
}
.header__nav-item--laranja a {
  color: #ff6700;
  font-weight: bold;
}
.header__nav-item button {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  background: #ff6700;
}
.header__nav-item button a {
  color: #fcfcfc;
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 75rem;
  background: linear-gradient(to top, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6)), url(/img/madie-hamilton-Q9yr-cvJr30-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home__conteudo {
  color: #fcfcfc;
  text-align: center;
}
.home__conteudo h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(3rem, 3.7vw, 6rem);
  margin-bottom: 1.8rem;
  line-height: 1.2;
  text-shadow: 0 0.2rem 0.3rem black;
}
.home__conteudo p {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 6rem;
  color: rgba(252, 252, 252, 0.8);
}
.home__conteudo button {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: 0.1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 1rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  border-radius: 10rem;
  color: #fcfcfc;
  background: #ff6700;
  border: 0.2rem solid #fcfcfc;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.laranja {
  color: #ff6700;
}

.vantagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 9.6rem 11%;
}
.vantagens__conteudo-box {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  max-width: 28rem;
  text-align: center;
  border: 0.1rem solid #1a2849;
  border-radius: 2rem;
  padding: 2rem;
}
.vantagens__conteudo-box img {
  margin-bottom: 2.5rem;
  max-height: 5rem;
  width: auto;
}
.vantagens__conteudo-box h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.vantagens__conteudo-box p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.sobre {
  background: #1a2849;
}
.sobre-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  gap: 4rem;
  padding: 9.6rem 11%;
}
.sobre-box img {
  width: 45rem;
  height: auto;
  object-fit: cover;
}
.sobre__conteudo {
  color: #fcfcfc;
  max-width: 50rem;
}
.sobre__conteudo h2 {
  font-size: 3.5rem;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 3.7rem;
  text-transform: uppercase;
  position: relative;
}
.sobre__conteudo h2::after {
  content: "";
  width: 7rem;
  height: 0.2rem;
  background: #fcfcfc;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
.sobre__conteudo p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}
.sobre__conteudo button {
  background: #ff6700;
  border: 0.2rem solid #fcfcfc;
  color: #fcfcfc;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.3rem 3rem;
  border-radius: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 9.6rem 11%;
}
.categorias__titulo h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10rem;
}
.categorias__titulo h2::after {
  content: "";
  width: 7rem;
  height: 0.2rem;
  background: black;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
.categorias__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.2rem, 1fr));
  gap: 1.5rem;
}
.categorias__items-box {
  position: relative;
  cursor: pointer;
  height: 16rem;
}
.categorias__items-box img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.categorias__items-box p {
  position: absolute;
  bottom: 1.5rem;
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fcfcfc;
  z-index: 1;
}
.categorias__items-box::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}
.categorias__items-box--outros {
  background: #1a2849;
  border-radius: 1rem;
}
.categorias__items-box--outros a {
  width: 100%;
  height: 100%;
}
.categorias__items-box--outros p {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.categorias__items-box--outros::after {
  content: "";
  display: none;
}

.produtos {
  padding: 9.6rem 11%;
  padding-top: 0;
}
.produtos__titulo {
  grid-column: 1/-1;
}
.produtos__titulo h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10rem;
  position: relative;
}
.produtos__titulo h2::after {
  content: "";
  width: 7rem;
  height: 0.2rem;
  background: black;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
.produtos__conteudo {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3rem;
  position: relative;
}
.produtos__conteudo--margin {
  margin-bottom: 7rem;
}
.produtos__conteudo h3 {
  font-size: 2rem;
}
.produtos__conteudo a {
  font-size: 1.4rem;
  color: #ff6700;
  font-weight: bold;
  position: absolute;
  top: 0.4rem;
  right: 0;
}
.produtos__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 3rem;
}
.produtos__card {
  display: grid;
  grid-template-rows: auto auto;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.produtos__card img {
  width: 100%;
  height: 20rem;
}
.produtos__card-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  height: 15rem;
  padding: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.produtos__card-conteudo h4 {
  font-size: 1.7rem;
}
.produtos__card-conteudo p {
  font-size: 1.4rem;
  grid-column: 1/-1;
}
.produtos__card-conteudo .classificacao {
  display: flex;
  justify-self: right;
  align-items: center;
  color: #eead2d;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.5rem;
}
.produtos__card-conteudo .classificacao img {
  height: 1.5rem;
  width: 1.5rem;
}
.produtos__card-conteudo button {
  padding: 1rem;
  background: #ff6700;
  color: #fcfcfc;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  border: none;
}
.produtos__card-conteudo .preco {
  align-self: end;
  font-size: 1.7rem;
  font-weight: bold;
}

.depoimentos {
  background: #1a2849;
  color: #fcfcfc;
  margin-bottom: 9.6rem;
}
.depoimentos .container {
  padding: 9.6rem 11%;
}
.depoimentos h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10rem;
  text-transform: uppercase;
  position: relative;
}
.depoimentos h2::after {
  content: "";
  width: 7rem;
  height: 0.2rem;
  background: #fcfcfc;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}
.depoimentos-box {
  display: flex;
  gap: 4rem;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  background: #fcfcfc;
  padding: 3rem;
  padding-top: 5rem;
  color: black;
  border-radius: 1rem;
  position: relative;
}
.card p {
  font-size: 1.6rem;
}
.card__aspas {
  position: absolute;
  top: 0;
  left: 4rem;
  transform: translateY(-50%);
}
.card__pessoa {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.3rem;
}
.card__pessoa .circulo {
  background: gray;
  border-radius: 50%;
  grid-row: 1/-1;
}
.card__pessoa .circulo img {
  height: 7rem;
}
.card__pessoa h4 {
  align-self: end;
  font-size: 1.7rem;
  grid-column: 2;
}
.card__pessoa p {
  align-self: start;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.footer {
  background: #0f0f0f;
  color: #fcfcfc;
}
.footer-box {
  padding: 6.4rem 11%;
}
.footer__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__meio {
  padding: 5rem 0;
  position: relative;
}
.footer__informacoes {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem 1rem;
}
.footer__informacoes p {
  font-size: 1.5rem;
}
.footer__informacoes img {
  justify-self: center;
  height: 2rem;
  width: auto;
}
.footer__fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.footer__fundo p {
  font-size: 1.3rem;
}
.footer__fundo img {
  height: 3rem;
  width: auto;
}
.footer__laranja {
  color: #ff6700;
  font-weight: bold;
}

.nav-footer__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-footer__item a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fcfcfc;
  padding: 1rem;
}
.nav-footer__redes-list {
  display: flex;
  gap: 1.5rem;
}
.nav-footer__redes-list img {
  height: 4.5rem;
  width: auto;
}

.linha {
  width: 100%;
  height: 0.1rem;
  background: #fcfcfc;
  position: absolute;
}
.linha__topo {
  top: 3rem;
  left: 0;
}
.linha__fundo {
  bottom: 3rem;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
