:root {
  --mg-lados: 11%;
  --h2: 3.5rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  min-height: 100vh;
  background: #fcfcfc;
  color: #0b0b0b;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  z-index: 10;
  background: #fcfcfc;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25);
}
.header .container {
  height: 100%;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 var(--mg-lados);
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.header__nav-item a {
  padding: 1rem;
  color: #0b0b0b;
  position: relative;
}
.header__nav-item a:hover::after {
  width: calc(100% - 2rem);
}
.header__nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  height: 0.2rem;
  transition: 0.3s;
  width: 0;
  background: #0b0b0b;
}
.header__nav-item a.laranja {
  color: #ff6700;
}
.header__nav-item a.laranja:hover::after {
  width: calc(100% - 2rem);
}
.header__nav-item a.laranja::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  height: 0.2rem;
  transition: 0.3s;
  width: 0;
  background: #ff6700;
}
.header__nav-item button {
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 1.4rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  border: 0.2rem solid #ff6700;
  background: #fcfcfc;
  color: #ff6700;
  transition: 0.3s;
}
.header__nav-item button:hover {
  background: #ff6700;
  color: #fcfcfc;
}

.mobile-menu {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.mobile-menu span {
  display: block;
  height: 0.5rem;
  margin: 0.6rem;
  border-radius: 0.5rem;
  width: 3.6rem;
  background: #ff6700;
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 70rem;
  background: linear-gradient(rgba(28, 37, 44, 0.9), rgba(28, 37, 44, 0.15)), url(/img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home__conteudo {
  text-align: center;
  color: #fcfcfc;
  margin: 0 var(--mg-lados);
}
.home__conteudo h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(2.6rem, 7.2vw, 6rem);
  line-height: 1.2;
  letter-spacing: -0.2rem;
  margin-bottom: 1.8rem;
}
.home__conteudo h2 {
  font-weight: 400;
  font-size: clamp(1.6rem, 4vw, 2.3rem);
  line-height: 1.3;
  margin-bottom: 6rem;
  color: #ebebeb;
}
.home__conteudo button {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: 0.3s;
  border: none;
  color: #fcfcfc;
  background: #ff6700;
}
.home__conteudo button:hover {
  background: #1c252c;
}
.home__form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home__form__input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
  height: 5.273rem;
  padding: 0 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fcfcfc;
}
.home__form__input img {
  height: 2rem;
  width: auto;
}
.home__form__input input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  border: none;
}
.home__form__input input:focus {
  outline: none;
}

.vantagens-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  justify-content: center;
  margin: 8rem var(--mg-lados);
}
.vantagens__conteudo {
  display: grid;
  grid-template-rows: repeat(3, auto);
  max-width: 24rem;
  border-radius: 2rem;
}
.vantagens__conteudo img {
  margin-bottom: 2.5rem;
  max-height: 5rem;
  width: auto;
}
.vantagens__conteudo h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #0b0b0b;
}
.vantagens__conteudo p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #636262;
}

.sobre {
  background: #1c252c;
}
.sobre-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10rem;
  margin: 0 var(--mg-lados);
  padding: 6.4rem 0;
}
.sobre-box img {
  object-fit: cover;
  height: 59rem;
  border-radius: 0.5rem;
}
.sobre__conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fcfcfc;
  max-width: 50rem;
}
.sobre__conteudo h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--h2);
  margin-bottom: 3.7rem;
  text-transform: uppercase;
  position: relative;
}
.sobre__conteudo h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 7rem;
  height: 0.2rem;
  background: #ff6700;
}
.sobre__conteudo p {
  font-size: 1.7rem;
  line-height: 1.5;
  margin-bottom: 4rem;
  color: #c0c0c0;
}
.sobre__conteudo p:nth-child(2) {
  margin-bottom: 1rem;
}
.sobre__conteudo button {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 0.2rem solid #fcfcfc;
  color: #fcfcfc;
  background: #ff6700;
}
.sobre__conteudo button:hover {
  background: #fcfcfc;
  color: #ff6700;
}

.produtos-box {
  margin: 12.8rem var(--mg-lados);
}
.produtos__titulo {
  grid-column: 1/-1;
}
.produtos__titulo h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--h2);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10rem;
  position: relative;
}
.produtos__titulo h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 7rem;
  height: 0.2rem;
  transform: translateX(-50%);
  background: #ff6700;
}
.produtos__conteudo {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3rem;
  position: relative;
}
.produtos__conteudo-margin {
  margin-bottom: 7rem;
}
.produtos__conteudo h3 {
  font-size: 2rem;
}
.produtos__conteudo__ver-mais {
  position: absolute;
  top: 0.4rem;
  right: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff6700;
}
.produtos__conteudo__ver-mais:hover {
  text-decoration: underline;
}
.produtos__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26.87rem, 1fr));
  gap: 3rem;
}
.produtos__card {
  display: grid;
  grid-template-rows: auto auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.produtos__card img {
  object-fit: cover;
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.produtos__card-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  height: 15rem;
  padding: 2rem;
}
.produtos__card-conteudo h4 {
  font-size: 1.7rem;
}
.produtos__card-conteudo p {
  grid-column: 1/-1;
  color: #636262;
  font-size: 1.4rem;
}
.produtos__card-conteudo .classificacao {
  display: flex;
  justify-self: right;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eead2d;
}
.produtos__card-conteudo .classificacao img {
  height: 1.5rem;
  width: 1.5rem;
}
.produtos__card-conteudo button {
  cursor: pointer;
  border: none;
  padding: 1rem;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  color: #fcfcfc;
  background: #ff6700;
}
.produtos__card-conteudo button:hover {
  background: #1c252c;
}
.produtos__card-conteudo .preco {
  align-self: end;
  font-size: 1.7rem;
  font-weight: bold;
}

.depoimentos {
  margin-bottom: 9.6rem;
  background: #1c252c;
}
.depoimentos-box {
  padding: 9.6rem 0;
  margin: 0 var(--mg-lados);
}
.depoimentos h2 {
  font-size: var(--h2);
  text-align: center;
  color: #fcfcfc;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 13rem;
  text-transform: uppercase;
  position: relative;
}
.depoimentos h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 7rem;
  height: 0.2rem;
  transform: translateX(-50%);
  background: #ff6700;
}

.card-box {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem 4rem 2rem;
  max-width: 47rem;
  border-radius: 0.5rem;
  background: #fcfcfc;
  position: relative;
}
.card q {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
}
.card .circulo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  border: 0.1rem solid #0b0b0b;
}
.card .circulo img {
  height: 10.8rem;
}
.card__classificacao {
  height: 2rem;
  width: auto;
  margin-bottom: 1.5rem;
}
.card__nome-autor {
  font-weight: bold;
  font-size: 1.7rem;
}
.card p:last-child {
  font-size: 1.3rem;
  color: #636262;
}

.footer {
  background: #0b0b0b;
  color: #fcfcfc;
}
.footer-box {
  padding: 6.4rem 0;
  margin: 0 11%;
}
.footer__topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__meio {
  margin: 7rem 0;
  position: relative;
}
.footer__informacoes {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: center;
  margin-bottom: 3rem;
  gap: 2rem 1rem;
}
.footer__informacoes p {
  font-size: 1.5rem;
}
.footer__informacoes img {
  justify-self: center;
  height: 2rem;
  width: auto;
}
.footer .nav-footer__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer .nav-footer__item a {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
  color: #fcfcfc;
}
.footer .nav-footer__item a:hover {
  text-decoration: underline;
}
.footer .nav-footer__redes-list {
  display: flex;
  gap: 1.5rem;
}
.footer .nav-footer__redes-list a:hover path {
  fill: #1c252c;
}
.footer .nav-footer__redes-list a svg {
  height: 4.5rem;
  width: auto;
}
.footer__fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.footer__fundo p {
  font-size: 1.3rem;
}
.footer__fundo .contatos a {
  margin: 0 0.5rem;
}
.footer__fundo .contatos a :hover path {
  fill: #ff6700;
}
.footer__fundo .contatos a svg {
  height: 3.5rem;
  width: auto;
}

.linha {
  width: 100%;
  height: 0.1rem;
  background: #fcfcfc;
}
.linha__topo {
  position: absolute;
  top: -3.5rem;
  left: 0;
}
.linha__fundo {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
}

body .laranja {
  color: #ff6700;
}

@media screen and (max-width: 1128px) {
  .vantagens-box {
    gap: 4rem;
  }
}
@media screen and (max-width: 1050px) {
  :root {
    --mg-lados: 7%;
  }
}
@media screen and (max-width: 930px) {
  .mobile-menu {
    display: block;
    position: relative;
  }
  .header__nav-list {
    display: none;
  }
  .header__nav.ativo .header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    right: 0;
    gap: 3rem;
    padding-top: 3rem;
    text-align: center;
    top: 7rem;
    height: calc(100vh - 7rem);
    width: 100%;
    background: #1c252c;
    overflow-y: auto;
    z-index: 10;
  }
  .header__nav.ativo .header__nav-item a {
    padding: 1rem 2rem;
    color: #fcfcfc;
  }
  .header__nav.ativo .header__nav-item a.laranja {
    color: #ff6700;
  }
  .header__nav.ativo .header__nav-item button {
    margin: 0;
    padding: 2rem 4rem;
    color: #fcfcfc;
    background: #ff6700;
  }
  .header__nav.ativo .mobile-menu__linha-1 {
    display: none;
  }
  .header__nav.ativo .mobile-menu__linha-2 {
    transform: rotate(135deg);
    transition: 0.3s;
  }
  .header__nav.ativo .mobile-menu__linha-3 {
    position: absolute;
    transform: rotate(-135deg);
    top: 0;
    transition: 0.3s;
  }
  .home {
    background-image: linear-gradient(rgba(28, 37, 44, 0.9), rgba(28, 37, 44, 0.15)), url(/img/home-bg--mobile.jpg);
  }
  .vantagens__conteudo {
    text-align: center;
    justify-items: center;
  }
  .sobre-box {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
  }
  .sobre-box img {
    height: 50rem;
    width: 50rem;
  }
  .sobre__conteudo {
    order: -1;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --mg-lados: 5%;
    --h2: 3rem;
  }
  .card-box {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }
  .sobre__conteudo p {
    font-size: 1.6rem;
  }
  .footer__topo {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }
}
@media screen and (max-width: 630px) {
  .produtos-box {
    margin-bottom: 18.8rem;
  }
  .produtos__conteudo-margin {
    margin-bottom: 13rem;
  }
  .produtos__conteudo__ver-mais {
    font-size: 2rem;
    top: initial;
    bottom: -6rem;
    right: 50%;
    transform: translateX(50%);
  }
  .produtos__conteudo h3 {
    text-align: center;
  }
  .produtos__items {
    grid-template-columns: repeat(auto-fill, minmax(26.85rem, 40rem));
    justify-content: center;
  }
}
@media screen and (max-width: 580px) {
  .vantagens-box {
    gap: 6rem;
  }
}
@media screen and (max-width: 425px) {
  .home__form {
    flex-direction: column;
    gap: 0.7rem;
  }
  .home__form button {
    border-radius: 0.5rem;
  }
  .home__form__input {
    width: 100%;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 375px) {
  .sobre__conteudo p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
