$font: "Sora", sans-serif;
$font-titulos: "Ubuntu", sans-serif;
$laranja: #ff6700;
$preto: #0b0b0b;
$cinza1: #c0c0c0;
$cinza2: #636262;
$cinza3: #1c252c;
$branco: #fcfcfc;
$dourado: #eead2d;
:root {
  --mg-lados: 11%;
  --h2: 3.5rem;
}

@mixin absoluteTop($valor1, $valor2) {
  position: absolute;
  top: $valor1;
  left: $valor2;
}
@mixin absoluteBottom($valor1, $valor2) {
  position: absolute;
  bottom: $valor1;
  left: $valor2;
}
@mixin btnLaranja {
  color: $branco;
  background: $laranja;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  min-height: 100vh;
  background: $branco;
  color: $preto;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
