.footer {
  background: $preto;
  color: $branco;
  &-box {
    padding: 6.4rem 0;
    margin: 0 11%;
  }
  &__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__meio {
    margin: 7rem 0;
    position: relative;
  }
  &__informacoes {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem 1rem;
    p {
      font-size: 1.5rem;
    }
    img {
      justify-self: center;
      height: 2rem;
      width: auto;
    }
  }
  .nav-footer {
    &__list {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
    &__item a {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
      text-transform: uppercase;
      color: $branco;
      &:hover {
        text-decoration: underline;
      }
    }
    &__redes-list {
      display: flex;
      gap: 1.5rem;
      a {
        &:hover path {
          fill: $cinza3;
        }
        svg {
          height: 4.5rem;
          width: auto;
        }
      }
    }
  }
  &__fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    p {
      font-size: 1.3rem;
    }
    .contatos {
      a {
        margin: 0 0.5rem;
        :hover path {
          fill: $laranja;
        }
        svg {
          height: 3.5rem;
          width: auto;
        }
      }
    }
  }
}

.linha {
  width: 100%;
  height: 0.1rem;
  background: $branco;
  &__topo {
    @include absoluteTop(-3.5rem, 0);
  }
  &__fundo {
    @include absoluteBottom(-3.5rem, 0);
  }
}

body .laranja {
  color: $laranja;
}
