.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background: hsl(0, 0%, 99%);
  box-shadow: 0 0.1rem 1rem rgb(0, 0, 0, 0.25);
  z-index: 10;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 11%;
  }
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: black;
  }
  &__nav-item {
    a {
      color: black;
    }
    &--laranja a {
      color: #ff6700;
    }
    & button {
      cursor: pointer;
      padding: 1.4rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      border: .2rem solid #ff6700;
      background: #fcfcfc;
      border-radius: .5rem;
      a {
        color: #ff6700;
      }
    }
  }
}
