.home {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 70rem;
  background: linear-gradient(rgb(28, 37, 44, 0.9), rgba(28, 37, 44, 0.15)),
    url(/img/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__conteudo {
    text-align: center;
    color: $branco;
    margin: 0 var(--mg-lados);
    h1 {
      font-family: $font-titulos;
      font-size: clamp(2.6rem, 7.2vw, 6rem);
      line-height: 1.2;
      letter-spacing: -0.2rem;
      margin-bottom: 1.8rem;
    }
    h2 {
      font-weight: 400;
      font-size: clamp(1.6rem, 4vw, 2.3rem);
      line-height: 1.3;
      margin-bottom: 6rem;
      color: #ebebeb;
    }
    button {
      cursor: pointer;
      font-size: 1.8rem;
      padding: 1.5rem;
      border-radius: 0 0.5rem 0.5rem 0;
      transition: 0.3s;
      border: none;
      @include btnLaranja;
      &:hover {
        background: $cinza3;
      }
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    &__input {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      width: 80%;
      height: 5.273rem;
      padding: 0 1.5rem;
      border-radius: 0.5rem 0 0 0.5rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background: $branco;
      img {
        height: 2rem;
        width: auto;
      }
      input {
        width: 100%;
        height: 100%;
        font-size: 1.4rem;
        padding: 0.5rem 0;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.vantagens {
  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    margin: 8rem var(--mg-lados);
  }
  &__conteudo {
    display: grid;
    grid-template-rows: repeat(3, auto);
    max-width: 24rem;
    border-radius: 2rem;
    img {
      margin-bottom: 2.5rem;
      max-height: 5rem;
      width: auto;
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: $preto;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      color: $cinza2;
    }
  }
}

.sobre {
  background: $cinza3;
  &-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10rem;
    margin: 0 var(--mg-lados);
    padding: 6.4rem 0;
    img {
      object-fit: cover;
      height: 59rem;
      border-radius: 0.5rem;
    }
  }
  &__conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $branco;
    max-width: 50rem;
    h2 {
      font-family: $font-titulos;
      font-size: var(--h2);
      margin-bottom: 3.7rem;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        @include absoluteBottom(-1rem, 0);
        width: 7rem;
        height: 0.2rem;
        background: $laranja;
      }
    }
    p {
      font-size: 1.7rem;
      line-height: 1.5;
      margin-bottom: 4rem;
      color: $cinza1;
    }
    p:nth-child(2) {
      margin-bottom: 1rem;
    }
    button {
      cursor: pointer;
      font-size: 1.8rem;
      padding: 1rem 2.5rem;
      border-radius: 0.5rem;
      transition: 0.3s;
      border: 0.2rem solid $branco;
      @include btnLaranja;
      &:hover {
        background: $branco;
        color: $laranja;
      }
    }
  }
}

.produtos {
  &-box {
    margin: 12.8rem var(--mg-lados);
  }
  &__titulo {
    grid-column: 1/-1;
    h2 {
      font-family: $font-titulos;
      font-size: var(--h2);
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10rem;
      position: relative;
      &::after {
        content: "";
        @include absoluteBottom(-1rem, 50%);
        width: 7rem;
        height: 0.2rem;
        transform: translateX(-50%);
        background: $laranja;
      }
    }
  }
  &__conteudo {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;
    position: relative;
    &-margin {
      margin-bottom: 7rem;
    }
    h3 {
      font-size: 2rem;
    }
    &__ver-mais {
      position: absolute;
      top: 0.4rem;
      right: 0;
      font-size: 1.4rem;
      font-weight: bold;
      color: $laranja;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26.87rem, 1fr));
    gap: 3rem;
  }
  &__card {
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem rgb(0, 0, 0, 0.2);
    img {
      object-fit: cover;
      width: 100%;
      height: 20rem;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    &-conteudo {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr auto;
      gap: 1rem;
      height: 15rem;
      padding: 2rem;
      h4 {
        font-size: 1.7rem;
      }
      p {
        grid-column: 1/-1;
        color: $cinza2;
        font-size: 1.4rem;
      }
      .classificacao {
        display: flex;
        justify-self: right;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: $dourado;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      button {
        cursor: pointer;
        border: none;
        padding: 1rem;
        letter-spacing: 0.1rem;
        border-radius: 0.5rem;
        transition: 0.3s;
        @include btnLaranja;
        &:hover {
          background: $cinza3;
        }
      }
      .preco {
        align-self: end;
        font-size: 1.7rem;
        font-weight: bold;
      }
    }
  }
}

.depoimentos {
  margin-bottom: 9.6rem;
  background: $cinza3;
  &-box {
    padding: 9.6rem 0;
    margin: 0 var(--mg-lados);
  }
  h2 {
    font-size: var(--h2);
    text-align: center;
    color: $branco;
    font-family: $font-titulos;
    margin-bottom: 13rem;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      @include absoluteBottom(-1rem, 50%);
      width: 7rem;
      height: 0.2rem;
      transform: translateX(-50%);
      background: $laranja;
    }
  }
}
.card-box {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8rem 4rem 2rem;
  max-width: 47rem;
  border-radius: 0.5rem;
  background: $branco;
  position: relative;
  q {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  .circulo {
    @include absoluteTop(0, 50%);
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: $branco;
    border: 0.1rem solid $preto;
    img {
      height: 10.8rem;
    }
  }
  &__classificacao {
    height: 2rem;
    width: auto;
    margin-bottom: 1.5rem;
  }
  &__nome-autor {
    font-weight: bold;
    font-size: 1.7rem;
  }
  p:last-child {
    font-size: 1.3rem;
    color: $cinza2;
  }
}
