.home {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 75rem;
  background: linear-gradient(
      to top,
      rgba(15, 15, 15, 0.6),
      rgba(15, 15, 15, 0.6)
    ),
    url(/img/madie-hamilton-Q9yr-cvJr30-unsplash\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &__conteudo {
    color: #fcfcfc;
    text-align: center;
    h1 {
      font-family: $font-titulos;
      font-size: clamp(3rem, 3.7vw, 6rem);
      margin-bottom: 1.8rem;
      line-height: 1.2;
      text-shadow: 0 0.2rem 0.3rem black;
    }
    p {
      font-size: 2.5rem;
      line-height: 1.3;
      margin-bottom: 6rem;
      color: rgb(252, 252, 252, 0.8);
    }
    button {
      display: flex;
      cursor: pointer;
      align-items: center;
      letter-spacing: 0.1rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      gap: 1rem;
      padding: 2rem 3rem;
      font-size: 2rem;
      border-radius: 10rem;
      color: #fcfcfc;
      background: #ff6700;
      border: 0.2rem solid #fcfcfc;
      box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
    }
  }
}

.laranja {
  color: #ff6700;
}

.vantagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 9.6rem 11%;
  &__conteudo-box {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    max-width: 28rem;
    text-align: center;
    border: 0.1rem solid #1a2849;
    border-radius: 2rem;
    padding: 2rem;
    img {
      margin-bottom: 2.5rem;
      max-height: 5rem;
      width: auto;
    }
    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
}

.sobre {
  background: #1a2849;
  &-box {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 4rem;
    padding: 9.6rem 11%;
    img {
      width: 45rem;
      height: auto;
      object-fit: cover;
    }
  }
  &__conteudo {
    color: #fcfcfc;
    max-width: 50rem;
    h2 {
      font-size: 3.5rem;
      font-family: $font-titulos;
      margin-bottom: 3.7rem;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        width: 7rem;
        height: 0.2rem;
        background: #fcfcfc;
        position: absolute;
        bottom: -1rem;
        left: 0;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-bottom: 5rem;
    }
    button {
      background: #ff6700;
      border: 0.2rem solid #fcfcfc;
      color: #fcfcfc;
      font-size: 1.8rem;
      cursor: pointer;
      padding: 1.3rem 3rem;
      border-radius: 10rem;
      box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
    }
  }
}

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 9.6rem 11%;
  &__titulo h2 {
    font-family: $font-titulos;
    font-size: 3.5rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10rem;
    &::after {
      content: "";
      width: 7rem;
      height: 0.2rem;
      background: black;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.2rem, 1fr));
    gap: 1.5rem;
    &-box {
      position: relative;
      cursor: pointer;
      height: 16rem;
      img {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
      }
      p {
        position: absolute;
        bottom: 1.5rem;
        font-size: 2rem;
        left: 50%;
        transform: translateX(-50%);
        color: #fcfcfc;
        z-index: 1;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem;
      }
      &--outros {
        background: #1a2849;
        border-radius: 1rem;
        a {
          width: 100%;
          height: 100%;
        }
        p {
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, 50%);
        }
        &::after {
          content: "";
          display: none;
        }
      }
    }
  }
}

.produtos {
  padding: 9.6rem 11%;
  padding-top: 0;
  &__titulo {
    grid-column: 1/-1;
    h2 {
      font-family: $font-titulos;
      font-size: 3.5rem;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10rem;
      position: relative;
      &::after {
        content: "";
        width: 7rem;
        height: 0.2rem;
        background: black;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__conteudo {
    display: grid;
    grid-template-rows: auto auto;
    gap: 3rem;
    position: relative;
    &--margin {
      margin-bottom: 7rem;
    }
    h3 {
      font-size: 2rem;
    }
    a {
      font-size: 1.4rem;
      color: #ff6700;
      font-weight: bold;
      position: absolute;
      top: 0.4rem;
      right: 0;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    gap: 3rem;
  }
  &__card {
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0 0.5rem 0.5rem rgb(0, 0, 0, 0.2);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    img {
      width: 100%;
      height: 20rem;
    }
    &-conteudo {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr auto;
      gap: 1rem;
      height: 15rem;
      padding: 2rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      h4 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.4rem;
        grid-column: 1/-1;
      }
      .classificacao {
        display: flex;
        justify-self: right;
        align-items: center;
        color: #eead2d;
        font-size: 1.5rem;
        font-weight: bold;
        gap: 0.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
      button {
        padding: 1rem;
        background: #ff6700;
        color: #fcfcfc;
        cursor: pointer;
        letter-spacing: 0.1rem;
        border-radius: 1rem;
        border: none;
      }
      .preco {
        align-self: end;
        font-size: 1.7rem;
        font-weight: bold;
      }
    }
  }
}

.depoimentos {
  padding: 9.6rem 11%;
  background: #1a2849;
  color: #fcfcfc;
  h2 {
    font-size: 3.5rem;
    text-align: center;
    font-family: $font-titulos;
    margin-bottom: 10rem;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      width: 7rem;
      height: 0.2rem;
      background: #fcfcfc;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-box {
    display: flex;
    gap: 5rem;
  }
}
.card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  background: #fcfcfc;
  padding: 3rem;
  padding-top: 5rem;
  color: black;
  border-radius: 1rem;
  position: relative;
  p {
    font-size: 1.6rem;
  }
  &__aspas {
    position: absolute;
    top: 0;
    left: 4rem;
    transform: translateY(-50%);
  }
  &__pessoa {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.3rem;
    .circulo {
      background: gray;
      border-radius: 50%;
      grid-row: 1/-1;
      img {
        height: 7rem;
      }
    }
    h4 {
      align-self: end;
      font-size: 1.7rem;
      grid-column: 2;
    }
    p {
      align-self: start;
      font-size: 1.3rem;
      color: rgb(0, 0, 0, 0.7);
    }
  }
}
